# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Datasets and Outputs
*.csv
*.xlsx
*.parquet
data/
outputs/
dataset/

# Python
__pycache__/
*.py[cod]
*$py.class
